/* chip */
.ctOvIS {
    background-color: #ffffff !important;
    color: #80808D !important;
    border: 1px solid #80808D !important;
}

.ctOvIS:hover {
  background-color: #FFBC0D !important;
  color: #53565A !important;
}

.ctOvIS:focus {
  background-color: #FFBC0D !important;
  color: #53565A !important;
}

/* checkmark */
.fBVshu input:checked + .FauxCheckbox-sc-1yuna8r-0 {
    background-color: #DB0000 !important;
    border-color: #DB0000 !important;
}

/* multiselect option inmenu */
.cvAEDH[aria-selected="true"] {
    background-color: #FFBC0D !important;
}

/* multiselect border */
.gwaCLK:focus, .gwaCLK:focus-within {
    border-color: #FFBC0D !important;
    box-shadow: #ffd66c 0px 0px 0px 2px !important;
    outline: none;
}

/* prompt "save" dialog button */
.kwBrwu {
    background: #FFBC0D !important;
    border: 1px solid #FFBC0D !important;
    color: #ffffff !important;
}

/* prompt text box border */
.dDSgvM:focus, .dDSgvM:focus-within {
    border-color: #FFBC0D !important;
    box-shadow: #ffd66c 0px 0px 0px 2px !important;
    outline: none;
}

/* saved queries hover/select */
.WQuAb[aria-selected="true"] {
    background-color: #FFBC0D !important;
}

/* combo button aria pressed */
.TfJAx[aria-pressed="true"] {
  background-color: #FFBC0D !important;
  color: #53565A !important;
  border-color: #FFBC0D !important;
}

